html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif, Arial;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
#content {
	min-height: 100%;
	padding-bottom: 80px;
}
/* Navbar */
.navbar {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 25px 0;
	font-weight: 400;
	color: #ffffff !important;
	padding: 10px 0;
}
.navbar-custom .nav li.active, .navbar-color .nav li.active, .navbar-color .navbar-nav > li.active a {
	color: #888888;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
	background: none;
	outline: 0;
	color: #dddddd;
}
.navbar-custom .navbar-brand {
	color: #ffffff;
	padding: 0px;
}
.navbar-brand > img {
	height: 50px;
	width: auto;
}
.navbar-custom .navbar-toggle .icon-bar {
	background: #ffffff;
}
.navbar-custom .navbar-nav > li > a, .navbar-custom .navbar-nav .dropdown-menu > li > a {
	color: #ffffff;
	font-size: 14px;
}
.navbar-color, .custom-collapse {
	background: #000000;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}
.navbar-color .nav li a:hover, .navbar-color .nav li a:focus {
	color: #dddddd;
}
.navbar-color .navbar-nav > li > a, .navbar-color .navbar-nav .dropdown-menu > li > a, .custom-collapse .navbar-nav > li > a, .custom-collapse .navbar-nav .dropdown-menu > li > a {
	color: #888888;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background: none;
}
.custom-collapse .navbar-nav {
	text-align: left;
}
.custom-collapse .navbar-nav > li.active {
	border: 0;
}
.navbar-color .navbar-toggle .icon-bar, .custom-collapse .navbar-toggle .icon-bar {
	background: #1978ab;
}
.navbar-nav > li > .dropdown-menu {
	background: #000000;
}
.navbar-nav ul.dropdown-menu > li > a:hover {
	color: #dddddd;
}
/* Breadcrumb */
.breadcrumb {
	border-radius: 0px;
	margin-bottom: 15px;
}
.breadcrumb > li + li:before {
	content: "\f101";
	font-family: FontAwesome;
}
/* Header */
.header {
	color: #ffffff;
	padding: 120px 15px 60px;
	font-size: 21px;
	background: #da3848;
}
/* Content */
#content {
	min-height: 600px;
}
/* Pagination */
.pagination {
	margin: 0px;
}
/* Center Form */
.center-form {
	max-width: 420px;
	padding: 15px;
	margin: 0 auto;
}
.center-form .forgotten {
	font-weight: normal;
	margin-bottom: 0px;
	width: 100%;
}
.center-form .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.center-form .form-control:focus {
	z-index: 2;
}
.center-form button.btn {
	margin-top: 20px;
}
/* Form Group */
.form-group a {
	cursor: pointer;
}
/* Table */
.table a:hover {
	text-decoration: none;
}
.table a.asc:after {
	content: "  \f0d8";
	font-family: FontAwesome;
	font-size: 14px;
}
.table a.desc:after {
	content: "  \f0d7";
	font-family: FontAwesome;
	font-size: 14px;
}
.table td {
	vertical-align: middle !important;
}
/* Status */
.status {
	margin-top: 10px;
	margin-bottom: 0px;
}
/* Required */
label.required:before {
	content: '* ';
	color: #ff0000;
	font-weight: bold;
}
/* Blog */
.bottom-20 {
	margin-bottom: 20px;
}
.date {
	color: #666666;
}
/* Footer */
footer {
	border-top: 1px solid #e5e5e5;
	background: #f5f5f5;
	text-align: center;
	color: #333333;
	font-size: 13px;
	padding-top: 15px;
	height: 80px;
	position: relative;
	clear: both;
}
a{
	color: #da3848;
}
a:hover{
	color: #DB616D
}