<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center">
          <?php echo $text_powered; ?>
        </p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
